<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo de pagina</title>
</head>
<body>
    <div class="containser-fluid">
        <div class="row">
            <div class="col-6">
                <h1>Este es un h1</h1>
            </div>
        </div>
    </div>
</body>
</html>