<!DOCTYPE html>
<html>
    <head>
        <title>LL Parser Generator</title>
        <%- include('partials/head.ejs'); %>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row py-2 bg-dark">
                <div class="col-xl-3 ">
                    <h3 class="mt-2 ml-3 text-white">LL Parser Generator</h3>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    <div class="my-2">
                        <label for="archivoEntrada" class="font-weight-bold">Seleccione un archivo de entrada:</label>
                        <input type="file" class="form-control-file border" name="archivoEntrada" id="archivoEntrada" accept=".txt" onchange="processFiles(this.files);">
                    </div>
                </div>
            </div>

            <form action="/analizar" method="POST" class="">
                <div class="row pt-3">
                    <div class="col-xl-2"></div>
                    <div class="col-xl-8">
                        <div class="form-group">
                            <label for="comment">Introduzca su gramatica:</label>
                            <textarea class="form-control" rows="20" id="textoEntrada" name="textoEntrada" required></textarea>
                        </div>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-xl-4"></div>
                    <div class="col-xl-4">
                        <button type="submit" class="btn btn-primary btn-block mt-2">Analizar</button>
                    </div>
                </div>
            </form>
        </div>
        <script src="readFile.js"></script>
        <%- include('partials/extrasJS.ejs'); %>
    </body>
</html>